<!DOCTYPE html>
<html lang="en" ng-app="HcduApp">
<head>
    <meta charset="UTF-8">
    <title>HTML/JS/C# Desktop App</title>
    <link rel="stylesheet" href="css/libs/angular-material.min.css">
    <link rel="stylesheet" href="fonts/roboto/roboto.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <meta name="viewport" content="initial-scale=1"/>
</head>
<body layout="column" ng-controller="AppCtrl">
<md-toolbar layout="row">
    <div class="md-toolbar-tools">
        <h1>
            HTML/JS/C# Desktop App
        </h1>
    </div>
</md-toolbar>
<div layout="row" flex>
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="true">
        <md-list layout="column">
            <md-list-item ng-repeat="section in sections" ng-click="showSection(section)">
                <p>{{section.title}}</p>
            </md-list-item>
        </md-list>
    </md-sidenav>
    <div layout="column" flex>

        <md-content layout="column" flex class="md-padding">

            <h1>{{selectedSection.title}}</h1>

            <md-divider></md-divider>

            <ng-include src="getExampleUrl()"></ng-include>

        </md-content>
    </div>
</div>

<!-- Angular Material Dependencies -->
<script src="script/libs/angular.min.js"></script>
<script src="script/libs/angular-animate.min.js"></script>
<script src="script/libs/angular-aria.min.js"></script>

<!-- Angular Material -->
<script src="script/libs/angular-material.min.js"></script>

<!-- Application -->
<script src="script/app.js"></script>
<script src="partials/examples/about/about.js"></script>
<script src="partials/examples/rest/rest.js"></script>
<script src="partials/examples/backend-events/backend-events.js"></script>
<script src="partials/examples/dialogs/dialogs.js"></script>
<script src="partials/examples/text/text.js"></script>

</body>
</html>